* {
  font-family: Hack Nerd Font Propo;
  font-size: 15px;
}

window#waybar {
  background-color: rgba(26, 27, 38, 1);
  transition-property: background-color;
  transition-duration: 0.25s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  opacity: 0;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

label:focus {
  background-color: #000000;
}

#clock,
#battery,
#cpu,
#temperature,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#mpris,
#bluetooth,
#keyboard-state,
#power-profiles-daemon,
#custom-power-menu,
#custom-exit,
#custom-lock,
#custom-nvidia,
#custom-notification {
  min-width: 14pt;
  padding: 0 1px;
  color: #e5e5e5;
}

#workspaces button {
  padding: 0 5px;
  color: #565f89;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

#workspaces button.empty {
  color: #3b4261;
}

#workspaces button.focused {
  color: #7dcfff;
}

#workspaces button.active {
  color: #7aa2f7;
}

#workspaces button.urgent {
  color: #f7768e;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#window {
  min-width: 0pt;
  padding: 0 5px;
  color: #a9b1d6;
}

#window,
#submap,
#workspaces {
  border-radius: 7.8px;
}

#submap {
  color: #7dcfff;
}


#monitoring {
  padding: 0 3pt;
}

#temperature {
}
#temperature.warning {
  color: #e0af68;
}
#temperature.critical {
  color: #f7768e;
}

#cpu {
  color: #f7768e;
  padding-right: 3pt;
}

#memory {
  color: #e0af68;
}


#custom-divider {
  color: #3b4261;
}

#custom-power-menu {
  color: #7aa2f7;
  padding-right: 3pt;
  min-width: 0pt;
}

#custom-lock {
  color: #e0af68;
}

#custom-exit {
  color: #f7768e;
}


#custom-launcher {
  color: #6a92d7;
  border-radius: 7.5px;
  padding: 0 5px;
}


#battery {
  color: #c0caf5;
  padding: 0 3pt;
}
#battery.charging,
#battery.full,
#battery.plugged {
  color: #9ece6a;
}
#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#control {
  border-radius: 4px;
}

#pulseaudio {
  color: #7d9bba;
}

#backlight {
  color: #7d9bba;
}

#clock {
  color: #c8d2e0;
  padding-right: 3pt;
}

#power-profiles-daemon {
  color: #ffffff;
}
#power-profiles-daemon.performance {
  color: #f7768e;
}
#power-profiles-daemon.power-saver {
  color: #9ece6a;
}
#power-profiles-daemon.balanced {
  color: #2aa9ff;
}

#idle_inhibitor {
  color: #7d9bba;
}
#idle_inhibitor.activated {
  color: #2aa9ff;
}

#bluetooth {
  color: #7d9bba;
}
#bluetooth.connected {
  color: #2aa9ff;
}

#network {
  color: #2aa9ff;
}
#network.disconnected {
  color: #f7768e;
}


#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#mpd {
  color: #2a5c45;
}

#mpd.disconnected {
  color: #f53c3c;
}

#mpd.stopped {
  color: #90b1b1;
}

#mpd.paused {
  color: #51a37a;
}

#mpris.spotify {
  padding: 0 10px;
  margin: 0 4px;
  color: #9ece6a;
}
#mpris.firefox {
  padding: 0 10px;
  margin: 0 4px;
  color: #ff9e64;
}
#mpris.plasma-browser-integration {
  padding: 0 10px;
  margin: 0 4px;
  color: #ff9e64;
}

#custom-nvidia {
  color: #9ece6a;
}

#custom-gpu {
  color: #f7768e;
}
